<html>
	<head>
		<link href="static/css/index.css" rel="stylesheet">
	</head>
	<body>
		<div class="ver_group">
			<div id="f_ver" class="version">韌體版本: </div>
			<div id="ini_ver" class="version">組態版本: </div>
		</div>
		
		<div id="temperature">室內溫度: loading...</div>
		<div id="wet">室內濕度: loading...</div>
		<div id="time">00:00:00</div>
		<div id="weatherWidget">
			<a class="weatherwidget-io" href="https://forecast7.com/zh-tw/25d03121d57/taipei-city/" data-label_1="台北市" data-label_2="WEATHER" data-font="微軟正黑體 (Microsoft JhengHei)" data-theme="pure" >台北市 WEATHER</a>
			<script>
				!function(d,s,id){
					var js,fjs=d.getElementsByTagName(s)[0];
					if(!d.getElementById(id)){
						js=d.createElement(s);
						js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';
						fjs.parentNode.insertBefore(js,fjs);
					}
				}(document,'script','weatherwidget-io-js');
				</script>
		</div>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://momentjs.com/downloads/moment.js"></script>
		<script src="static/js/index.js"></script>
	</body>
</html>
